/* Fix user-agent */

*, *:before, *:after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    
}

/*ul {
  list-style: none;
  word-wrap: break-word;
}*/

#container {
    position: absolute;
    height: 100%;
    width: 100%;
}
.NodeHeader {
/*    border-width: 1px;
    border-style: solid;*/
    display: flex;
}
.NodeHeader-name {
    width: 80%;
}
.NodeHeader-button {
    width: 20%;
}
.NodeHeader-button > button {
    width: 100%;
    margin: 0px;
    text-align: center;
}
.NodeBody-label {
    width: 40%;
}
.NodeBody-value {
    text-align: center;
    width: 60%;
}
.NodeBody-value-dev {
    width: 40%;
    text-align: center;
}
.NodeBody-flag {
    width: 20%;
}
.NodeBody-row {
    display: flex;
}

.NodeBody {
/*    border-width: 1px;
    border-style: solid;*/
    height: 100%;
    display: flex;
    flex-direction: column;
}

.connector {
    position: absolute;
    display: flex;
}

.connector-parent {
    border-top: solid 1px #d9d9d9;
    position: relative;
    height: 1px;
}

.connector-children {
    border-bottom: solid 1px #d9d9d9;
    height: 1px;
    position: relative;
}

.connector-children-row {
    border-left: solid 1px #d9d9d9;
}

.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}
.example-appear.example-appear-active {
  opacity: 1;
}
.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}