/* Fix user-agent */

*, *:before, *:after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    
}

/*ul {
  list-style: none;
  word-wrap: break-word;
}*/

#container {
    position: absolute;
    height: 100%;
    width: 100%;
}